In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import requests

In [2]:
offense = pd.read_csv('offensive_data.csv')
dst = pd.read_csv('dst_data.csv')
kickers = pd.read_csv('kicker_data.csv')

In [3]:
offense.head()

,Unnamed: 0,Player,Game,Pts*,Att,Cmp,Yds,TD,Int,2Pt,...,Rec,Yds.2,TD.2,2Pt.2,FL,TD.3,Week,Position,Year,target
0,0,Andrew Luck,DET@IND,43.0,47,31,385,4,0,1,...,0,0,0,0,0,0,1,QB,2016,12.0
1,1,Drew Brees,OAK@NO,39.0,42,28,423,4,0,0,...,0,0,0,0,1,0,1,QB,2016,16.0
2,2,Jameis Winston,TB@ATL,33.0,32,23,281,4,1,0,...,0,0,0,0,0,0,1,QB,2016,6.0
3,3,Alex Smith,SD@KC,31.0,48,34,363,2,1,0,...,0,0,0,0,0,0,1,QB,2016,5.0
4,4,Matthew Stafford,DET@IND,31.0,39,31,340,3,0,0,...,0,0,0,0,0,0,1,QB,2016,17.0

In [4]:
dst.head()

,Unnamed: 0,Team,Game,Pts*,Sack,Int,Saf,FR,Blk,TD,PA,PassYds,RushYds,TotYds,Week,Position,Year,Target,Opponent
0,0,MIN,MIN@TEN,24.0,2.0,1,0,2,0,2,16,252,64,316,1,DST,2016,15.0,TEN
1,1,SF,LA@SF,16.0,2.0,2,0,0,0,0,0,120,65,185,1,DST,2016,11.0,LA
2,2,MIA,MIA@SEA,16.0,3.0,1,0,1,1,0,12,240,112,352,1,DST,2016,4.0,SEA
3,3,PHI,CLE@PHI,14.0,3.0,1,1,0,0,0,10,168,120,288,1,DST,2016,13.0,CLE
4,4,SEA,MIA@SEA,14.0,5.0,0,0,0,1,0,10,150,64,214,1,DST,2016,10.0,MIA

In [5]:
kickers.head()

,Unnamed: 0,Player,Game,Pts*,XPA,XPM,FGA,FGM,50+,Week,Position,Year,Target
0,0,Dan Bailey,NYG@DAL,17.0,1,1,4,4,2,1,K,2016,9.0
1,1,Blair Walsh,MIN@TEN,15.0,2,1,6,4,1,1,K,2016,5.0
2,2,Stephen Gostkowski,NE@ARI,13.0,2,2,3,3,1,1,K,2016,7.0
3,3,Jason Myers,GB@JAX,13.0,2,2,3,3,1,1,K,2016,2.0
4,4,Nick Novak,CHI@HOU,11.0,2,2,3,3,0,1,K,2016,13.0

In [6]:
offense = offense.drop(columns='Unnamed: 0')
dst = dst.drop(columns='Unnamed: 0')
kickers = kickers.drop(columns='Unnamed: 0')

In [7]:
offense.head()

,Player,Game,Pts*,Att,Cmp,Yds,TD,Int,2Pt,Att.1,...,Rec,Yds.2,TD.2,2Pt.2,FL,TD.3,Week,Position,Year,target
0,Andrew Luck,DET@IND,43.0,47,31,385,4,0,1,3,...,0,0,0,0,0,0,1,QB,2016,12.0
1,Drew Brees,OAK@NO,39.0,42,28,423,4,0,0,2,...,0,0,0,0,1,0,1,QB,2016,16.0
2,Jameis Winston,TB@ATL,33.0,32,23,281,4,1,0,4,...,0,0,0,0,0,0,1,QB,2016,6.0
3,Alex Smith,SD@KC,31.0,48,34,363,2,1,0,4,...,0,0,0,0,0,0,1,QB,2016,5.0
4,Matthew Stafford,DET@IND,31.0,39,31,340,3,0,0,2,...,0,0,0,0,0,0,1,QB,2016,17.0

In [8]:
offense.columns

Index(['Player', 'Game', 'Pts*', 'Att', 'Cmp', 'Yds', 'TD', 'Int', '2Pt',
       'Att.1', 'Yds.1', 'TD.1', '2Pt.1', 'Rec', 'Yds.2', 'TD.2', '2Pt.2',
       'FL', 'TD.3', 'Week', 'Position', 'Year', 'target'],
      dtype='object')

In [9]:
cols_with_1 = [col for col in offense.columns if '1' in col]
cols_with_2 = [col for col in offense.columns if '.2' in col]
rename_dict = {col: 'Rush_' + col.replace('.1', '') for col in cols_with_1}
rename_dict.update({col: 'Rec_' + col.replace('.2', '') for col in cols_with_2})
offense = offense.rename(columns={'TD.3': 'FL_Rec_TD'})
offense = offense.rename(columns=rename_dict)

In [10]:
offense.columns

Index(['Player', 'Game', 'Pts*', 'Att', 'Cmp', 'Yds', 'TD', 'Int', '2Pt',
       'Rush_Att', 'Rush_Yds', 'Rush_TD', 'Rush_2Pt', 'Rec', 'Rec_Yds',
       'Rec_TD', 'Rec_2Pt', 'FL', 'FL_Rec_TD', 'Week', 'Position', 'Year',
       'target'],
      dtype='object')

In [11]:
offense

,Player,Game,Pts*,Att,Cmp,Yds,TD,Int,2Pt,Rush_Att,...,Rec,Rec_Yds,Rec_TD,Rec_2Pt,FL,FL_Rec_TD,Week,Position,Year,target
0,Andrew Luck,DET@IND,43.0,47,31,385,4,0,1,3,...,0,0,0,0,0,0,1,QB,2016,12.0
1,Drew Brees,OAK@NO,39.0,42,28,423,4,0,0,2,...,0,0,0,0,1,0,1,QB,2016,16.0
2,Jameis Winston,TB@ATL,33.0,32,23,281,4,1,0,4,...,0,0,0,0,0,0,1,QB,2016,6.0
3,Alex Smith,SD@KC,31.0,48,34,363,2,1,0,4,...,0,0,0,0,0,0,1,QB,2016,5.0
4,Matthew Stafford,DET@IND,31.0,39,31,340,3,0,0,2,...,0,0,0,0,0,0,1,QB,2016,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38803,Ty Johnson,BUF@MIA,0.0,0,0,0,0,0,0,1,...,1,9,0,0,0,0,18,RB,2023,NaN
38804,Joshua Kelley,KC@LAC,0.0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,18,RB,2023,NaN
38805,Jaleel McLaughlin,DEN@LV,0.0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,18,RB,2023,NaN
38806,Boston Scott,PHI@NYG,0.0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,18,RB,2023,NaN
38807,Trayveon Williams,CLE@CIN,0.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,18,RB,2023,NaN

In [14]:
kickers.head()

,Player,Game,Pts*,XPA,XPM,FGA,FGM,50+,Week,Position,Year,Target
0,Dan Bailey,NYG@DAL,17.0,1,1,4,4,2,1,K,2016,9.0
1,Blair Walsh,MIN@TEN,15.0,2,1,6,4,1,1,K,2016,5.0
2,Stephen Gostkowski,NE@ARI,13.0,2,2,3,3,1,1,K,2016,7.0
3,Jason Myers,GB@JAX,13.0,2,2,3,3,1,1,K,2016,2.0
4,Nick Novak,CHI@HOU,11.0,2,2,3,3,0,1,K,2016,13.0

In [15]:
kickers.columns

Index(['Player', 'Game', 'Pts*', 'XPA', 'XPM', 'FGA', 'FGM', '50+', 'Week',
       'Position', 'Year', 'Target'],
      dtype='object')

In [16]:
dst

,Team,Game,Pts*,Sack,Int,Saf,FR,Blk,TD,PA,PassYds,RushYds,TotYds,Week,Position,Year,Target,Opponent
0,MIN,MIN@TEN,24.0,2.0,1,0,2,0,2,16,252,64,316,1,DST,2016,15.0,TEN
1,SF,LA@SF,16.0,2.0,2,0,0,0,0,0,120,65,185,1,DST,2016,11.0,LA
2,MIA,MIA@SEA,16.0,3.0,1,0,1,1,0,12,240,112,352,1,DST,2016,4.0,SEA
3,PHI,CLE@PHI,14.0,3.0,1,1,0,0,0,10,168,120,288,1,DST,2016,13.0,CLE
4,SEA,MIA@SEA,14.0,5.0,0,0,0,1,0,10,150,64,214,1,DST,2016,10.0,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4185,DEN,DEN@LV,4.0,3.0,0,0,0,0,0,27,230,129,359,18,DST,2023,NaN,LV
4186,WAS,DAL@WAS,4.0,0.0,1,0,0,1,0,38,309,131,440,18,DST,2023,NaN,DAL
4187,ATL,ATL@NO,3.0,3.0,0,0,0,0,0,48,246,154,400,18,DST,2023,NaN,NO
4188,ARI,SEA@ARI,1.0,0.0,0,0,0,0,0,21,189,138,327,18,DST,2023,NaN,SEA
4189,MIN,MIN@DET,1.0,1.0,0,0,0,0,0,30,311,70,381,18,DST,2023,NaN,DET

In [17]:
dst.columns

Index(['Team', 'Game', 'Pts*', 'Sack', 'Int', 'Saf', 'FR', 'Blk', 'TD', 'PA',
       'PassYds', 'RushYds', 'TotYds', 'Week', 'Position', 'Year', 'Target',
       'Opponent'],
      dtype='object')

In [19]:
offense['FL_Rec_TD'].value_counts()

FL_Rec_TD
0    38794
1       14
Name: count, dtype: int64