# Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import requests

# Loading in Data

In [56]:
positions = ['QB','WR','TE','RB']
dst = 'DST'
kickers = 'K'

weeks = []
for i in np.arange(1,19):
    weeks.append(str(i))

years = list(range(2016,2024))

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}

data = pd.DataFrame()
for year in years:
    year_df = pd.DataFrame()
    for position in positions:
        position_df = pd.DataFrame()
        for week in weeks:
            week_df = pd.DataFrame()
            url = f'https://www.footballdb.com/fantasy-football/index.html?pos={position}&yr={year}&wk={week}&key=48ca46aa7d721af4d58dccc0c249a1c4'
            response = requests.get(url, headers=headers)

            dfs = pd.read_html(response.text)
            week_df = dfs[0]
            week_df['Week'] = week

            position_df = pd.concat([position_df, week_df], axis=0)

        position_df['Position'] = position
        year_df = pd.concat([year_df,position_df], axis=0)
    year_df['Year'] = year
    data = pd.concat([data,year_df], axis=0)

In [57]:
data

                Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                            Player               Game               Pts*
0               Andrew LuckA. Luck            DET@IND               43.0
1               Drew BreesD. Brees             OAK@NO               39.0
2         Jameis WinstonJ. Winston             TB@ATL               33.0
3               Alex SmithA. Smith              SD@KC               31.0
4      Matthew StaffordM. Stafford            DET@IND               31.0
..                             ...                ...                ...
70            Ty JohnsonT. Johnson            BUF@MIA                0.0
71          Joshua KelleyJ. Kelley             KC@LAC                0.0
72  Jaleel McLaughlinJ. McLaughlin             DEN@LV                0.0
73            Boston ScottB. Scott            PHI@NYG                0.0
74    Trayveon WilliamsT. Williams            CLE@CIN                0.0

   Passing                     Rushing  ...     Receiving            Fumbles  \
       Att Cmp  Yds TD Int 2Pt     Att  ... 2Pt       Rec Yds TD 2Pt      FL
0       47  31  385  4   0   1       3  ...   0         0   0  0   0       0
1       42  28  423  4   0   0       2  ...   0         0   0  0   0       1
2       32  23  281  4   1   0       4  ...   0         0   0  0   0       0
3       48  34  363  2   1   0       4  ...   0         0   0  0   0       0
4       39  31  340  3   0   0       2  ...   0         0   0  0   0       0
..     ...  ..  ... ..  ..  ..     ...  ...  ..       ...  .. ..  ..     ...
70       0   0    0  0   0   0       1  ...   0         1   9  0   0       0
71       0   0    0  0   0   0       2  ...   0         0   0  0   0       0
72       0   0    0  0   0   0       4  ...   0         0   0  0   0       0
73       0   0    0  0   0   0       3  ...   0         0   0  0   0       0
74       0   0    0  0   0   0       1  ...   0         0   0  0   0       0

      Week Position  Year
   TD
0   0    1       QB  2016
1   0    1       QB  2016
2   0    1       QB  2016
3   0    1       QB  2016
4   0    1       QB  2016
.. ..  ...      ...   ...
70  0   18       RB  2023
71  0   18       RB  2023
72  0   18       RB  2023
73  0   18       RB  2023
74  0   18       RB  2023

[38808 rows x 22 columns]

In [63]:
kicker_data = pd.DataFrame()

for year in years:
    year_df = pd.DataFrame()  
    for week in weeks:
        url = f'https://www.footballdb.com/fantasy-football/index.html?pos=K&yr={year}&wk={week}&key=48ca46aa7d721af4d58dccc0c249a1c4'
        response = requests.get(url, headers=headers)

        dfs = pd.read_html(response.text)
        week_df = dfs[0]
        week_df['Week'] = week

        year_df = pd.concat([year_df, week_df], axis=0)  

    year_df['Position'] = 'K'
    year_df['Year'] = year
    kicker_data = pd.concat([kicker_data, year_df], axis=0)  

kicker_data

,Player,Game,Pts*,XPA,XPM,FGA,FGM,50+,Week,Position,Year
0,Dan BaileyD. Bailey,NYG@DAL,17.0,1,1,4,4,2,1,K,2016
1,Blair WalshB. Walsh,MIN@TEN,15.0,2,1,6,4,1,1,K,2016
2,Stephen GostkowskiS. Gostkowski,NE@ARI,13.0,2,2,3,3,1,1,K,2016
3,Jason MyersJ. Myers,GB@JAX,13.0,2,2,3,3,1,1,K,2016
4,Nick NovakN. Novak,CHI@HOU,11.0,2,2,3,3,0,1,K,2016
...,...,...,...,...,...,...,...,...,...,...,...
27,Jake MoodyJ. Moody,LA@SF,2.0,3,2,1,0,0,18,K,2023
28,Riley PattersonR. Patterson,CLE@CIN,2.0,2,2,0,0,0,18,K,2023
29,Jason SandersJ. Sanders,BUF@MIA,2.0,2,2,0,0,0,18,K,2023
30,Brett MaherB. Maher,LA@SF,1.0,2,1,0,0,0,18,K,2023
31,Matthew WrightM. Wright,TB@CAR,0.0,0,0,1,0,0,18,K,2023

In [62]:
dst_data = pd.DataFrame()

for year in years:
    year_df = pd.DataFrame()  
    for week in weeks:
        url = f'https://www.footballdb.com/fantasy-football/index.html?pos=DST&yr={year}&wk={week}&key=48ca46aa7d721af4d58dccc0c249a1c4'
        response = requests.get(url, headers=headers)

        dfs = pd.read_html(response.text)
        week_df = dfs[0]
        week_df['Week'] = week

        year_df = pd.concat([year_df, week_df], axis=0)  

    year_df['Position'] = 'DST'
    year_df['Year'] = year
    dst_data = pd.concat([dst_data, year_df], axis=0)  

dst_data

,Team,Game,Pts*,Sack,Int,Saf,FR,Blk,TD,PA,PassYds,RushYds,TotYds,Week,Position,Year
0,Minnesota VikingsMIN,MIN@TEN,24.0,2.0,1,0,2,0,2,16,252,64,316,1,DST,2016
1,San Francisco 49ersSF,LA@SF,16.0,2.0,2,0,0,0,0,0,120,65,185,1,DST,2016
2,Miami DolphinsMIA,MIA@SEA,16.0,3.0,1,0,1,1,0,12,240,112,352,1,DST,2016
3,Philadelphia EaglesPHI,CLE@PHI,14.0,3.0,1,1,0,0,0,10,168,120,288,1,DST,2016
4,Seattle SeahawksSEA,MIA@SEA,14.0,5.0,0,0,0,1,0,10,150,64,214,1,DST,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Denver BroncosDEN,DEN@LV,4.0,3.0,0,0,0,0,0,27,230,129,359,18,DST,2023
28,Washington CommandersWAS,DAL@WAS,4.0,0.0,1,0,0,1,0,38,309,131,440,18,DST,2023
29,Atlanta FalconsATL,ATL@NO,3.0,3.0,0,0,0,0,0,48,246,154,400,18,DST,2023
30,Arizona CardinalsARI,SEA@ARI,1.0,0.0,0,0,0,0,0,21,189,138,327,18,DST,2023
31,Minnesota VikingsMIN,MIN@DET,1.0,1.0,0,0,0,0,0,30,311,70,381,18,DST,2023

# Cleaning Data

In [58]:
# Renaming columns in data dataframe
data2 = data.copy()
data2.columns = data2.columns.droplevel(0)
data2.columns = list(data2.columns[0:19]) + ['Week', 'Position','Year']
data2['Player'] = data2['Player'].str.split('.').str[0]
data2['Player'] = data2['Player'].str[:-1]
data2

,Player,Game,Pts*,Att,Cmp,Yds,TD,Int,2Pt,Att,...,2Pt,Rec,Yds,TD,2Pt,FL,TD,Week,Position,Year
0,Andrew Luck,DET@IND,43.0,47,31,385,4,0,1,3,...,0,0,0,0,0,0,0,1,QB,2016
1,Drew Brees,OAK@NO,39.0,42,28,423,4,0,0,2,...,0,0,0,0,0,1,0,1,QB,2016
2,Jameis Winston,TB@ATL,33.0,32,23,281,4,1,0,4,...,0,0,0,0,0,0,0,1,QB,2016
3,Alex Smith,SD@KC,31.0,48,34,363,2,1,0,4,...,0,0,0,0,0,0,0,1,QB,2016
4,Matthew Stafford,DET@IND,31.0,39,31,340,3,0,0,2,...,0,0,0,0,0,0,0,1,QB,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Ty Johnson,BUF@MIA,0.0,0,0,0,0,0,0,1,...,0,1,9,0,0,0,0,18,RB,2023
71,Joshua Kelley,KC@LAC,0.0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,18,RB,2023
72,Jaleel McLaughlin,DEN@LV,0.0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,18,RB,2023
73,Boston Scott,PHI@NYG,0.0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,18,RB,2023
74,Trayveon Williams,CLE@CIN,0.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,18,RB,2023

In [64]:
kicker_data['Player'] = kicker_data['Player'].str.split('.').str[0]
kicker_data['Player'] = kicker_data['Player'].str[:-1]
kicker_data

                Player     Game  Pts* XPA XPM FGA FGM 50+ Week Position  Year
0           Dan Bailey  NYG@DAL  17.0   1   1   4   4   2    1        K  2016
1          Blair Walsh  MIN@TEN  15.0   2   1   6   4   1    1        K  2016
2   Stephen Gostkowski   NE@ARI  13.0   2   2   3   3   1    1        K  2016
3          Jason Myers   GB@JAX  13.0   2   2   3   3   1    1        K  2016
4           Nick Novak  CHI@HOU  11.0   2   2   3   3   0    1        K  2016
..                 ...      ...   ...  ..  ..  ..  ..  ..  ...      ...   ...
27          Jake Moody    LA@SF   2.0   3   2   1   0   0   18        K  2023
28     Riley Patterson  CLE@CIN   2.0   2   2   0   0   0   18        K  2023
29       Jason Sanders  BUF@MIA   2.0   2   2   0   0   0   18        K  2023
30         Brett Maher    LA@SF   1.0   2   1   0   0   0   18        K  2023
31      Matthew Wright   TB@CAR   0.0   0   0   1   0   0   18        K  2023

[4133 rows x 11 columns]

In [65]:
dst_data2 = dst_data.copy()
dst_data2['Team'] = dst_data2['Team'].str[-3:]
dst_data2['Team'] = dst_data2['Team'].str.replace('s', '')

dst_data2['Team'].value_counts()

Team
MIN    131
SF     131
NO     131
TEN    131
IND    131
JAX    131
LA     131
ATL    131
KC     131
CLE    131
WAS    131
NE     131
DET    131
TB     131
NYG    131
CHI    131
CAR    131
MIA    131
GB     131
ARI    131
PIT    131
DAL    131
DEN    131
BAL    131
NYJ    131
HOU    131
SEA    131
PHI    131
CIN    130
BUF    130
LAC    115
LV      67
OAK     64
SD      16
Name: count, dtype: int64

In [66]:
dst_data2

,Team,Game,Pts*,Sack,Int,Saf,FR,Blk,TD,PA,PassYds,RushYds,TotYds,Week,Position,Year
0,MIN,MIN@TEN,24.0,2.0,1,0,2,0,2,16,252,64,316,1,DST,2016
1,SF,LA@SF,16.0,2.0,2,0,0,0,0,0,120,65,185,1,DST,2016
2,MIA,MIA@SEA,16.0,3.0,1,0,1,1,0,12,240,112,352,1,DST,2016
3,PHI,CLE@PHI,14.0,3.0,1,1,0,0,0,10,168,120,288,1,DST,2016
4,SEA,MIA@SEA,14.0,5.0,0,0,0,1,0,10,150,64,214,1,DST,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,DEN,DEN@LV,4.0,3.0,0,0,0,0,0,27,230,129,359,18,DST,2023
28,WAS,DAL@WAS,4.0,0.0,1,0,0,1,0,38,309,131,440,18,DST,2023
29,ATL,ATL@NO,3.0,3.0,0,0,0,0,0,48,246,154,400,18,DST,2023
30,ARI,SEA@ARI,1.0,0.0,0,0,0,0,0,21,189,138,327,18,DST,2023
31,MIN,MIN@DET,1.0,1.0,0,0,0,0,0,30,311,70,381,18,DST,2023

In [67]:
data3 = data2.copy()
data3['target'] = data3.groupby('Player')['Pts*'].shift(-1)
data3[data3['Player'] == 'Mac Jones']

,Player,Game,Pts*,Att,Cmp,Yds,TD,Int,2Pt,Att,...,Rec,Yds,TD,2Pt,FL,TD,Week,Position,Year,target
23,Mac Jones,MIA@NE,17.0,39,29,281,1,0,0,0,...,0,0,0,0,0,0,1,QB,2021,7.0
28,Mac Jones,NE@NYJ,7.0,30,22,186,0,0,0,0,...,0,0,0,0,0,0,2,QB,2021,12.0
24,Mac Jones,NO@NE,12.0,51,30,270,1,3,0,6,...,0,0,0,0,0,0,3,QB,2021,21.0
16,Mac Jones,TB@NE,21.0,40,31,275,2,1,0,1,...,0,0,0,0,0,0,4,QB,2021,13.0
22,Mac Jones,NE@HOU,13.0,30,23,231,1,1,0,1,...,0,0,0,0,0,0,5,QB,2021,20.0
13,Mac Jones,DAL@NE,20.0,21,15,229,2,1,1,2,...,0,0,0,0,1,0,6,QB,2021,25.0
7,Mac Jones,NYJ@NE,25.0,36,24,307,2,0,0,3,...,0,0,0,0,0,0,7,QB,2021,11.0
26,Mac Jones,NE@LAC,11.0,35,18,217,0,0,1,4,...,0,0,0,0,0,0,8,QB,2021,8.0
24,Mac Jones,NE@CAR,8.0,18,12,139,1,1,0,2,...,0,0,0,0,1,0,9,QB,2021,25.0
2,Mac Jones,CLE@NE,25.0,23,19,198,3,0,0,0,...,0,0,0,0,0,0,10,QB,2021,12.0
16,Mac Jones,NE@ATL,12.0,26,22,207,1,1,0,6,...,0,0,0,0,0,0,11,QB,2021,25.0
5,Mac Jones,TEN@NE,25.0,32,23,310,2,0,0,2,...,0,0,0,0,0,0,12,QB,2021,0.0
28,Mac Jones,NE@BUF,0.0,3,2,19,0,0,0,5,...,0,0,0,0,0,0,13,QB,2021,20.0
8,Mac Jones,NE@IND,20.0,45,26,299,2,2,0,1,...,0,0,0,0,0,0,15,QB,2021,4.0
32,Mac Jones,BUF@NE,4.0,32,14,145,0,2,0,6,...,0,0,0,0,0,0,16,QB,2021,28.0
4,Mac Jones,JAX@NE,28.0,30,22,227,3,0,0,2,...,0,0,0,0,0,0,17,QB,2021,13.0
22,Mac Jones,NE@MIA,13.0,30,20,261,1,1,0,3,...,0,0,0,0,1,0,18,QB,2021,11.0
27,Mac Jones,NE@MIA,11.0,30,21,213,1,1,0,2,...,0,0,0,0,1,0,1,QB,2022,14.0
20,Mac Jones,NE@PIT,14.0,35,21,252,1,1,0,7,...,0,0,0,0,0,0,2,QB,2022,15.0
17,Mac Jones,BAL@NE,15.0,32,22,321,0,3,0,5,...,0,0,0,0,0,0,3,QB,2022,0.0
29,Mac Jones,CHI@NE,0.0,6,3,13,0,1,0,3,...,0,0,0,0,0,0,7,QB,2022,12.0
22,Mac Jones,NE@NYJ,12.0,35,24,194,1,1,0,7,...,0,0,0,0,0,0,8,QB,2022,11.0
22,Mac Jones,IND@NE,11.0,30,20,147,1,0,0,1,...,0,0,0,0,0,0,9,QB,2022,9.0
18,Mac Jones,NYJ@NE,9.0,27,23,246,0,0,0,2,...,0,0,0,0,0,0,11,QB,2022,27.0
7,Mac Jones,NE@MIN,27.0,39,28,382,2,0,0,0,...,0,0,0,0,0,0,12,QB,2022,13.0
23,Mac Jones,BUF@NE,13.0,36,22,195,1,0,0,3,...,0,0,0,0,0,0,13,QB,2022,7.0
24,Mac Jones,NE@ARI,7.0,35,24,235,0,1,0,5,...,0,0,0,0,0,0,14,QB,2022,7.0
28,Mac Jones,NE@LV,7.0,31,13,112,0,0,1,4,...,0,0,0,0,0,0,15,QB,2022,21.0
9,Mac Jones,CIN@NE,21.0,33,21,240,2,0,0,1,...,0,0,0,0,0,0,16,QB,2022,20.0
10,Mac Jones,MIA@NE,20.0,33,20,204,2,0,0,3,...,0,0,0,0,0,0,17,QB,2022,21.0
6,Mac Jones,NE@BUF,21.0,40,26,243,3,3,0,4,...,0,0,0,0,0,0,18,QB,2022,29.0
1,Mac Jones,PHI@NE,29.0,54,35,316,3,1,0,2,...,0,0,0,0,0,0,1,QB,2023,15.0
22,Mac Jones,MIA@NE,15.0,42,31,231,1,1,0,5,...,0,0,0,0,0,0,2,QB,2023,15.0
19,Mac Jones,NE@NYJ,15.0,29,15,201,1,0,0,4,...,0,0,0,0,0,0,3,QB,2023,1.0
33,Mac Jones,NE@DAL,1.0,21,12,150,0,2,0,3,...,0,0,0,0,1,0,4,QB,2023,-1.0
36,Mac Jones,NO@NE,-1.0,22,12,110,0,2,0,1,...,0,0,0,0,1,0,5,QB,2023,6.0
26,Mac Jones,NE@LV,6.0,33,24,200,0,1,0,1,...,0,0,0,0,0,0,6,QB,2023,23.0
7,Mac Jones,BUF@NE,23.0,30,25,272,2,0,0,3,...,0,0,0,0,0,0,7,QB,2023,16.0
17,Mac Jones,NE@MIA,16.0,29,19,161,2,1,0,1,...,0,0,0,0,0,0,8,QB,2023,12.0
17,Mac Jones,WAS@NE,12.0,44,24,220,1,1,0,3,...,0,0,0,0,0,0,9,QB,2023,6.0
24,Mac Jones,IND@NE,6.0,20,15,170,0,1,0,3,...,0,0,0,0,0,0,10,QB,2023,-1.0
37,Mac Jones,NE@NYG,-1.0,21,12,89,0,2,0,0,...,0,0,0,0,0,0,12,QB,2023,NaN

In [73]:
dst_data2['Target'] = dst_data2.groupby('Team')['Pts*'].shift(-1)
dst_data2[dst_data2['Team'] == 'MIN']

,Team,Game,Pts*,Sack,Int,Saf,FR,Blk,TD,PA,PassYds,RushYds,TotYds,Week,Position,Year,Target
0,MIN,MIN@TEN,24.0,2.0,1,0,2,0,2,16,252,64,316,1,DST,2016,15.0
5,MIN,GB@MIN,15.0,5.0,1,0,2,0,0,14,180,83,263,2,DST,2016,29.0
1,MIN,MIN@CAR,29.0,8.0,3,1,0,0,1,10,201,105,306,3,DST,2016,11.0
8,MIN,NYG@MIN,11.0,0.0,1,0,1,0,0,10,261,78,339,4,DST,2016,19.0
1,MIN,HOU@MIN,19.0,4.0,1,0,0,0,1,13,155,59,214,5,DST,2016,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,MIN,MIN@LV,20.0,4.0,1,0,2,0,0,0,146,56,202,14,DST,2023,8.0
20,MIN,MIN@CIN,8.0,5.0,1,0,0,0,0,27,298,80,378,15,DST,2023,5.0
20,MIN,DET@MIN,5.0,1.0,0,0,1,1,0,30,246,143,389,16,DST,2023,2.0
29,MIN,GB@MIN,2.0,0.0,0,0,1,0,0,33,293,177,470,17,DST,2023,1.0
31,MIN,MIN@DET,1.0,1.0,0,0,0,0,0,30,311,70,381,18,DST,2023,NaN

In [78]:
def assign_opponent(row):
    teams = row['Game'].split('@')
    team1_initials = teams[0]
    team2_initials = teams[1]

    if team1_initials not in row['Team']:
        return team1_initials
    else:
        return team2_initials

dst_data2['Opponent'] = dst_data2.apply(assign_opponent, axis=1)
dst_data2

,Team,Game,Pts*,Sack,Int,Saf,FR,Blk,TD,PA,PassYds,RushYds,TotYds,Week,Position,Year,Target,Opponent
0,MIN,MIN@TEN,24.0,2.0,1,0,2,0,2,16,252,64,316,1,DST,2016,15.0,TEN
1,SF,LA@SF,16.0,2.0,2,0,0,0,0,0,120,65,185,1,DST,2016,11.0,LA
2,MIA,MIA@SEA,16.0,3.0,1,0,1,1,0,12,240,112,352,1,DST,2016,4.0,SEA
3,PHI,CLE@PHI,14.0,3.0,1,1,0,0,0,10,168,120,288,1,DST,2016,13.0,CLE
4,SEA,MIA@SEA,14.0,5.0,0,0,0,1,0,10,150,64,214,1,DST,2016,10.0,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,DEN,DEN@LV,4.0,3.0,0,0,0,0,0,27,230,129,359,18,DST,2023,NaN,LV
28,WAS,DAL@WAS,4.0,0.0,1,0,0,1,0,38,309,131,440,18,DST,2023,NaN,DAL
29,ATL,ATL@NO,3.0,3.0,0,0,0,0,0,48,246,154,400,18,DST,2023,NaN,NO
30,ARI,SEA@ARI,1.0,0.0,0,0,0,0,0,21,189,138,327,18,DST,2023,NaN,SEA
31,MIN,MIN@DET,1.0,1.0,0,0,0,0,0,30,311,70,381,18,DST,2023,NaN,DET

In [79]:
kicker_data['Target'] = kicker_data.groupby('Player')['Pts*'].shift(-1)
kicker_data[kicker_data['Player'] == 'Nick Novak']

        Player     Game  Pts* XPA XPM FGA FGM 50+ Week Position  Year  Target
4   Nick Novak  CHI@HOU  11.0   2   2   3   3   0    1        K  2016    13.0
4   Nick Novak   KC@HOU  13.0   1   1   5   4   0    2        K  2016    11.0
4   Nick Novak  TEN@HOU  11.0   3   3   3   2   1    4        K  2016     7.0
15  Nick Novak  HOU@MIN   7.0   1   1   3   2   0    5        K  2016     8.0
14  Nick Novak  IND@HOU   8.0   3   2   2   2   0    6        K  2016     9.0
9   Nick Novak  HOU@DEN   9.0   0   0   3   3   0    7        K  2016     8.0
12  Nick Novak  DET@HOU   8.0   2   2   2   2   0    8        K  2016     8.0
13  Nick Novak  HOU@JAX   8.0   3   3   3   1   1   10        K  2016     8.0
9   Nick Novak  HOU@OAK   8.0   2   2   2   2   0   11        K  2016     7.0
17  Nick Novak   SD@HOU   7.0   1   1   2   2   0   12        K  2016     1.0
28  Nick Novak   HOU@GB   1.0   2   1   0   0   0   13        K  2016    18.0
0   Nick Novak  HOU@IND  18.0   1   1   5   5   1   14        K  2016    13.0
5   Nick Novak  JAX@HOU  13.0   1   1   4   4   0   15        K  2016     6.0
19  Nick Novak  CIN@HOU   6.0   1   0   2   2   0   16        K  2016     5.0
23  Nick Novak  HOU@TEN   5.0   2   2   2   1   0   17        K  2016     9.0
10  Nick Novak  LAC@NYG   9.0   3   3   2   2   0    5        K  2017     5.0
23  Nick Novak  LAC@OAK   5.0   2   2   2   1   0    6        K  2017     3.0
22  Nick Novak  DEN@LAC   3.0   3   3   0   0   0    7        K  2017     1.0
24  Nick Novak   LAC@NE   1.0   1   1   1   0   0    8        K  2017     7.0
14  Nick Novak  LAC@JAX   7.0   2   2   1   1   1   10        K  2017    18.0
2   Nick Novak  BUF@LAC  18.0   6   6   5   4   0   11        K  2017     3.0
27  Nick Novak  LAC@DAL   3.0   1   0   2   1   0   12        K  2017     NaN

In [81]:
data3.to_csv('offensive_data.csv')

In [83]:
kicker_data.to_csv('kicker_data.csv')

In [85]:
dst_data2.to_csv('dst_data.csv')